body{
  padding: 0px;
}

header{
  padding: 0px 0px 10px 0px;
  margin: 0px;
  border-bottom: 5px solid #0093DD;
}

header div{
  padding: 0px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}

#logotipo{
  margin-left: 10px;
}
