<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SAIVER</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/home.css" />
</head>
<body>
    <header>
        <div id="menuButton">
            <div>

            </div>

            <div>

            </div>

            <div>

            </div>

        </div>

            <div>
                <img id="logo" src="~/assets/logo.png">
                <img id="logotipo" src="~/assets/logotipo.png">
            </div>

        <div id="menu">

        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted">
        <p id="footerInfo">
            SAIVER SRL <br>
            Cap. sociale €46.800,00 I.V. / Iscrizione registro imprese Monza e Brianza 00763060159 / R.E.A. MB-564458 / P. IVA-VAT IT00690860960
        </p>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
