@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
    <head>
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet"> <!-- font-family: 'Montserrat', sans-serif; -->
        <!--   <link rel="stylesheet" type="text/css" href="../wwwroot/css/site.css">
       <link rel="stylesheet" type="text/css" href="../wwwroot/css/home.css">
       <script src="addons/jquery-3.4.1.min.js"></script>
       <script src="../wwwroot/js/site.js"></script>
        -->
        <meta charset="utf-8">
        <title>SAIVER</title>
    </head>